depexts: [
  ["libgtk-3-dev" "libwebkit2gtk-4.1-dev"] {os-family = "debian"}
  ["gtk3-devel" "webkit2gtk4.1-devel"] {os-family = "fedora" | os-family = "rhel"}
  ["gtk3" "webkit2gtk-4.1"] {os-family = "arch"}
  ["gtk+3.0-dev" "webkit2gtk-4.1-dev"] {os-distribution = "alpine"}
]
